---
layout: default
---

{% include backlink.html %}

<section>
	<h1>👩‍💻 Work</h1>
	<p>I work as a software developer. Looking for more information?</p>
	<ul>
    <li><a href="https://github.com/josienb">GitHub</a></li>
    <li><a href="https://gitlab.com/josienb">GitLab</a></li>
		<li><a href="https://www.linkedin.com/in/josienbraas">LinkedIn</a></li>
		<li><a href="https://stackoverflow.com/cv/josienb">Stack Overflow Careers</a></li>
	</ul>
</section>
<section>
	<h1>📖 Books</h1>
	<p>And also, I love to read. And to not forget what I have read. List needed!</p>
  <ul>
    {% for book in site.data.books %}
      <li>
        <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.month }})</li>
      </li>
    {% endfor %}
  </ul>
</section>
