---
layout: default
---

{% include backlink.html %}

<section>
  <h1>👩‍💻 Work</h1>
  <p>I work as a software developer. Looking for more information?</p>
  <ul>
    <li><a href="https://github.com/josienb">GitHub</a></li>
    <li><a href="https://gitlab.com/josienb">GitLab</a></li>
    <li><a href="https://www.linkedin.com/in/josienbraas/en">LinkedIn</a></li>
    <li><a href="https://stackoverflow.com/users/249353/josien">Stack Overflow</a></li>
  </ul>
  <p>There's no Twitter, Instagram or Facebook account.</p>
</section>
<section>
  <h1>📖 Books</h1>
  <p>And also, I love to read. And to not forget what I have read. List needed! Check it out on <a
      href="https://app.thestorygraph.com/books-read/josien">The StoryGraph</a> or open the list down here.</p>
  <details>
    <summary>Book List 2022</summary>
    <ul>
      {% for book in site.data.books_2022 %}
      <li>
        <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.month }})
      </li>
      {% endfor %}
    </ul>
  </details>
  <details>
    <summary>Book List 2021</summary>
    <ul>
      {% for book in site.data.books_2021 %}
      <li>
        <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.month }})
      </li>
      {% endfor %}
    </ul>
  </details>

</section>
